.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #680681;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 8px;
  width: 100%;
  text-align: left;


}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table {
  width: 100%;
  border-collapse: collapse; 
  margin-bottom: 20px; 
}
td {
  border: 1px solid #ddd; 
  padding: 8px; 
  text-align: center; 
}
th {
  background-color: #f2f2f2;
  border: 1px solid #ddd; 
  padding: 8px; 
  text-align: center;
}
.SearchOption input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 2px;
}
.table-container {
  display: flex;
  justify-content: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
  width:  100%;
}

